<p>
  <b>Name:</b>
  <%=h @region.name %>
</p>

<p>
  <b>Lat:</b>
  <%=h @region.lat %>
</p>

<p>
  <b>Lng:</b>
  <%=h @region.lng %>
</p>


<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
