<h1>Editing sub_region2</h1>

<% form_for(@sub_region2) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :region_id %><br />
    <%= f.text_field :region_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @sub_region2 %> |
<%= link_to 'Back', sub_region2s_path %>
